In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../../data/Complete_SEDS/complete_seds.csv')

In [6]:
df.tail()

        Data_Status    MSN StateCode  Year    Data
2364925       2023F  ZWHDP        WY  2019  8906.0
2364926       2023F  ZWHDP        WY  2020  8069.0
2364927       2023F  ZWHDP        WY  2021  7865.0
2364928       2023F  ZWHDP        WY  2022  8441.0
2364929       2023F  ZWHDP        WY  2023  8339.0

In [5]:
df.shape

(2364930, 5)

In [7]:
df.StateCode.unique()

array(['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
       'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
       'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
       'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
       'US', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY', 'X3', 'X5'],
      dtype=object)

In [16]:
# need to do some munging here
# MSN code 'TETCB' is the total energy consumption in Billion Btu
df[df.MSN=='TETCB'].shape

(3328, 5)

In [17]:
total_e = df[df.MSN=='TETCB'].reset_index(drop=True)

In [18]:
total_e

     Data_Status    MSN StateCode  Year      Data
0          2023F  TETCB        AK  1960   59303.0
1          2023F  TETCB        AK  1961   70020.0
2          2023F  TETCB        AK  1962   76642.0
3          2023F  TETCB        AK  1963   78488.0
4          2023F  TETCB        AK  1964   82793.0
...          ...    ...       ...   ...       ...
3323       2023F  TETCB        WY  2019  534214.0
3324       2023F  TETCB        WY  2020  483752.0
3325       2023F  TETCB        WY  2021  481123.0
3326       2023F  TETCB        WY  2022  494020.0
3327       2023F  TETCB        WY  2023  499766.0

[3328 rows x 5 columns]

In [24]:
total_e.StateCode.value_counts() # 64 entries for each state, 1 year per entry. 1960 - 2023.
total_e.loc[total_e.StateCode=='WA'].head(3)

     Data_Status    MSN StateCode  Year      Data
3072       2023F  TETCB        WA  1960  765416.0
3073       2023F  TETCB        WA  1961  781340.0
3074       2023F  TETCB        WA  1962  815155.0

In [26]:
total_e = total_e[['StateCode', 'Year', 'Data']]

In [ ]:
total_e.shape
# total_e.to_csv('state_year_total_e.csv')

OSError: Cannot save file into a non-existent directory: '../../data/derived'